# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# Executables
*.exe
*.out
*.app

# Ignore cmake files
cmake-build-*/

.idea/*
.idea/deployment.xml
*.iml
.idea/modules.xml
.idea/vcs.xml
*.xml
